.bookmark {
  position: relative;
  background-color: var(--color-cerice);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.h2-bookmark-icon {
  position: absolute;
  right: 30px;
}
