:root {
  --color-cerice: #f0eceb;
  --color-citron: #849428;
  --color-charleston: #1e3309;
  --color-blush: #99a8ae;
}
body {
  color: var(--color-charleston);
  background-image: url(../assets/background-picture.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}
main {
  padding-bottom: 90px;
  padding-top: 20px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
