:root {
  --color-cerice: #e23260;
  --color-citron: #849428;
  --color-charleston: #1e3309;
  --color-blush: #fca9aa;
}
body {
  color: var(--color-charleston);
  background-image: url(../assets/IMG_7163.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
