.solution {
  background-color: var(--color-blush);
  border: 3px solid var(--color-blush);
  border-radius: 5px;
  padding: 5px;
  gap: 2px;
  margin: 5px 0;
  color: var(--color-cerice);
  font-weight: bold;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.solution:hover {
  background-color: var(--color-cerice);
  color: var(--color-blush);
}
