*,
*::before,
*::after {
  box-sizing: border-box;
}
.question-card {
  font-size: larger;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .question-card {
    flex-wrap: wrap;
  }
}
.card {
  position: relative;
  background-color: var(--color-cerice);
  border: 2px solid var(--color-blush);
  border-radius: 8px;
  padding: 5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px var(--color-blush);
  flex-grow: 1;
  min-width: 150px;
  margin: 0 10px;
  padding: 20px;
  text-align: center;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
h2 {
  display: flex;
  justify-content: center;
}
.tag {
  background-color: var(--color-citron);
  border: 5px solid var(--color-citron);
  border-radius: 5px;
  padding: 5px;
  gap: 2px;
  margin: 5px 0;
  color: var(--color-cerice);
  font-weight: bold;
}
.tag {
  background-color: var(--color-blush);
  border: 5px solid var(--color-blush);
}
.tags {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}
