.footer {
  background-color: var(--color-cerice);
  border: 2px solid var(--color-blush);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px var(--color-blush);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.footer-link img {
  padding: 8px;
  border-radius: 6px;
}

.footer-link.active img {
  background-color: var(--color-blush);
}
